<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>WebApp.Filter.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
        <url-pattern>/BatchForm</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/LabCourse</url-pattern>
        <url-pattern>/LabMarkForm</url-pattern>
        <url-pattern>/LabScale</url-pattern>
        <url-pattern>/makeExamCommittee</url-pattern>
        <url-pattern>/makeFinalResult</url-pattern>
        <url-pattern>/InsertBatchInfo</url-pattern>
        <url-pattern>/InsertCourseInfo</url-pattern>
        <url-pattern>/insertIncourseTotal</url-pattern>
        <url-pattern>/insertExamCommittee</url-pattern>
        <url-pattern>/InsertLabMark</url-pattern>
        <url-pattern>/IncourseExamForm</url-pattern>
        <url-pattern>/InsertIncourseExamMarks</url-pattern>
        <url-pattern>/IncourseMarkDistibution</url-pattern>
        <url-pattern>/InsertIncourseMarkDistibution</url-pattern>
        <url-pattern>/insertIncourseFinal</url-pattern>
        <url-pattern>/insertCourseSemester</url-pattern>
        <url-pattern>/InsertCourseTeacher</url-pattern>
        <url-pattern>/InsertStudentInfo</url-pattern>
        <url-pattern>/InsertTeacherInfo</url-pattern>
        <url-pattern>/FinalMarksForm</url-pattern>
        <url-pattern>/InsertFinalExamMarks</url-pattern>
        <url-pattern>/TeacherForm</url-pattern>
        <url-pattern>/theoryCourse</url-pattern>
        <url-pattern>/CourseForm</url-pattern>
        <url-pattern>/studentForm</url-pattern>
        <url-pattern>/CourseSemesterForm</url-pattern>
        <url-pattern>/CourseTeacherForm</url-pattern>
        <url-pattern>/editStudent</url-pattern>
        <url-pattern>/editTeacher</url-pattern>
        <url-pattern>/editExamCommittee</url-pattern>
        <url-pattern>/editCourse</url-pattern>
        <url-pattern>/editCourseTeacher</url-pattern>
        <url-pattern>/editSemesterCourse</url-pattern>
        <url-pattern>/ExamCourses</url-pattern>
        <url-pattern>/viewStudents</url-pattern>
        <url-pattern>/viewTeachers</url-pattern>
        <url-pattern>/viewFinalmarks</url-pattern>
        <url-pattern>/viewIncourseMarks</url-pattern>
        <url-pattern>/viewExamCommittee</url-pattern>
        <url-pattern>/viewCourses</url-pattern>
        <url-pattern>/LabMarkView</url-pattern>
        <url-pattern>/1styearexamroll</url-pattern>
        <url-pattern>/2ndyearexamroll</url-pattern>
        <url-pattern>/3rdyearexamroll</url-pattern>
        <url-pattern>/4thyearexamroll</url-pattern>
        <url-pattern>/InsertExamRoll</url-pattern>
        
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
